<!-- delete -->
<h1>Editing Recipe Ingredient</h1>

<%= render 'form', recipe_ingredient: @recipe_ingredient %>

<%= link_to 'Show', user_bar_recipe_ingredient(@user, @bar, @recipe_ingredient) %> |
<%= link_to 'Back', user_bar_recipe_ingredients_path(@user, @bar, @recipe_ingredient) %>
