<!-- delete -->
<h1>New Recipe Ingredient</h1>

<%= render 'form', user: @user, bar: @bar, recipe_ingredient: @recipe_ingredient %>

<%= link_to 'Back', user_bar_recipe_ingredients_path(@user, @bar, @recipe_ingredient) %>
