<% @recipes.each do |recipe| %>
  <section class="flex-item">
    <h3><%= recipe.name %></h3>
    <figure>
      <%= image_tag(recipe.avatar_url(:thumb).to_s) %>
      <figcaption data-id="<%= recipe.id %>">
        <%= link_to 'Ingredients', user_bar_recipe_url(@user, @bar, recipe), method: 'get', remote: true, class: 'btn flex-item' %>
      </figcaption>
    </figure>
  </section>
<% end -%>