<main>
  <header>
    <h1>New Recipe</h1>
  </header>
  <div class="container flex-container">
    <section class="flex-item form">
      <%= render 'form', user: @user, bar: @bar, recipe: @recipe %>
    </section>
  </div>
</main>
