<main>
  <p id="notice"><%= notice %></p>
  <header>
    <h1>Recipes</h1>
  </header>
  <div class="container flex-container">
    <section class="flex-item">
      <h3><%= @recipe.name %></h3>
      <figure>
        <%= image_tag("me", size: "200x200") %>
        <figcaption>
          <%= render 'recipes/ingredients_list' %>
        </figcaption>
      </figure>
    </section>
  </div>
</main>
