<main>
  <header>
    <h1>New Ingredient</h1>
  </header>
  <div class="container flex-container">
    <section class="flex-item form">
      <%= render 'form', user: @user, ingredient: @ingredient, bar: @bar %>
    </section>
  </div>
</main>






