/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
header {
	// border: 1px solid black;
	width: 100%;
	margin: 0 0 5% 0;

	h1 {
		text-align: center;
		margin: 5% 0 0 0;
	}

}

a {
	text-decoration: none;
}

.btn {
	padding: 10px 3%;
	margin: 0 .5em;
	border: 1px solid rgba(169, 169, 169, .9);
}

.flex-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;

	.flex-item {
		flex: 1;
		max-width: 30%;
		text-align: center;
		border-radius: 5px;

		&:hover {
			border: 1px solid rgba(169, 169, 169, .9);
			box-shadow: 4px 4px rgba(169, 169, 169, .9);
		}

	}

	.check-container {
		margin-top: 15px;
		font-size: 1.2em;
	}

	input[type='checkbox'] {
		-webkit-appearance: none;
		width: 30px;
		height: 30px;
		background: white;
		border-radius: 5px;
		border: 2px solid #555;
		background: rgba(255, 0, 0, .4)
	}

	input[type='checkbox']:checked {
		background: rgba(0, 169, 0, .4);
	}

}
