// Place all the styles related to the Ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:http://sass-lang.com/
.red-bg {
	background: rgba(255, 0, 0, .2);
}

.form {
	border: 1px solid rgba(169, 169, 169, .9);
	box-shadow: 4px 4px rgba(169, 169, 169, .9);
	padding: 5%;

	.field {
		input {
			height: 1.8em;
			width: 60%;
			border-radius: 5px;
		}

		select {
			height: 1.8em;
			width: 60%;
			border-radius: 5px;
		}

		textarea {
			height: 5em;
			width: 60%;
			border-radius: 5px;
		}

		label {
			display: inline-block;
			width: 100px;
			text-align: right;
		}

	}

	.flex-btn {
		flex: 1;
		max-width: 40%;
		border-radius: 5px;
	}

	.btn {
		width: 100%;

		a {
			width: 100%;
		}

	}

}
