// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:http://sass-lang.com/
.directions-field {
	margin-top: 5%;

	#recipe-directions {
		width: 100%;
		height: 25em;
	}

}
